<ion-view view-title="Country Playlist">
    <ion-content class="padding">



        <h3 align="center">Bar Info - {{name}}</h3>

        <div class="header">Open Hours</div>
        <table width="100%">
            <thead>
            <tr>
                <th>Day</th>
                <th>From</th>
                <th>To</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="openHour in openHours">
                <td>{{openHour.day}}</td>
                <td>{{openHour.from}}</td>
                <td>{{openHour.to}}</td>
            </tr>
            </tbody>
        </table>
        <div class="header">Special Offers</div>
        <table width="100%">
            <thead>
            <tr>
                <th>Drink</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="drink in special_drinks">
                <td>{{drink.name}}</td>
                <td>{{drink.price}} €</td>
            </tr>
            </tbody>
        </table>


        <div class="header">Events</div>
        <div>
            <div ng-repeat="event in events">
                <h4>{{event.name}}</h4>

                <ul>
                    <li>Band: {{event.band}}</li>
                    <li>Date: {{event.date}}</li>
                    <li>From: {{event.from}}</li>
                    <li>To: {{event.to}}</li>
                </ul>
            </div>
        </div>


        <div>
            <button class="btn" ng-click="login()">
                Login
            </button>
        </div>

        <br>



    </ion-content>
</ion-view>