<ion-view view-title="Find Bars">
    <ion-content class="padding">


        <!--TODO search location/bar to center map on-->
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <form ng-submit="searchCity()">
                <input type="search" id="searchInput" ng-model="searchInput" placeholder="Vienna" autocorrect="off"><!-- ng-model="cityname" ><!--ng-change="search()"-->
                <!--not displayed, notwendig für ng-submit-->
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </label>


        <div id="map" data-tap-disabled="true"></div>



    </ion-content>
</ion-view>