<ion-view view-title="Main Menu">
  <ion-content class="padding" scroll="false">
    <div align="center" style="margin-top: 10%">
      <div>
        <button class="button big-button button-positive" ng-click="show_playlist('/current-playlist')">
          Show Playlist
        </button>
      </div>

      <br>

      <div>
        <button class="button big-button button-positive" ng-click="vote_songs('/vote-songs')">
          Vote Songs
        </button>
      </div>


      <br>

      <div>
        <button class="button big-button button-positive" ng-click="bar_info('/bar-info/')">
          View Barinfo
        </button>
      </div>


      <br>

      <div>
        <button class="button big-button button-positive " ng-click="find_bars('/find-bars')">
          Find Bars
        </button>
      </div>


    </div>


  </ion-content>
</ion-view>


