<ion-view view-title="Main Menu">
  <ion-content class="padding">

    <h2>Main Menu Content</h2>

    <div>
      <button ng-click="show_playlist('/current-playlist')">
        Show Playlist
      </button>

      <br>

      <button ng-click="vote_songs('/vote-songs')">
        Vote Songs
      </button>

      <br>

      <button ng-click="bar_info('/bar-info')">
        View Barinfo
      </button>

      <br>

      <button ng-click="find_bars('/find-bars')">
        Find Bars
      </button>

    </div>


  </ion-content>
</ion-view>


