<ion-view view-title="Country Playlist">
    <ion-content class="padding">
        <div align="center">
            <div>
                <h2>Vote Songs</h2>
            </div>
            <div>
                <img ng-src="{{cover}}">
            </div>
            <div>
                {{title}}::{{artist}}
            </div>
            <div>
                <button ng-click="voteUp()">Like</button>
                <button ng-click="voteDown()">Dislike</button>
                <button ng-click="increaseShuffle()">Shuffle</button>
            </div>
        </div>

    </ion-content>
</ion-view>