<ion-view view-title="Vote!">
    <ion-content class="padding">
        <div align="center">
            <div>
                Playlist:
                <h3>{{playlistName}}</h3>
                <div align="right">
                    <button class="button button-small button-energized icon-left ion-shuffle" ng-click="showConfirm(); increaseShuffle()">
                        <span ng-show="voteCountLeft === null">Change Playlist</span>
                        <span ng-show="!(voteCountLeft === null)">+{{voteCountLeft}} votes needed</span>
                    </button>
                </div>
            </div >
            <div ng-show="playlistNotDoneFlag">
                <div class="list card" on-swipe-right="voteUp()" on-swipe-left="voteDown()">
                    <div>
                        <br>
                    </div>
                    <div>
                        <img ng-src="{{cover}}">
                    </div>
                    <div>
                        <b>{{title | uppercase}}</b><br>
                        by<br>
                        <b>{{artist | uppercase}}</b>
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div>
                    <button class="button button-large button-balanced icon-left ion-arrow-up-c" ng-click="voteUp()">&nbsp;Like&nbsp;&nbsp;</button>
                    <button class="button button-large button-assertive icon-left ion-arrow-down-c" ng-click="voteDown()">Dislike</button>
                </div>
            </div>
            <div align="center" ng-hide="playlistNotDoneFlag">
                    <b>Thanks for your votes!</b>
            </div>
        </div>


    </ion-content>
</ion-view>